
@model NailServiceViewModel
@{
    ViewData["Title"] = "Nail service";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script src="~/app/controllers/nailservice/detail.js" asp-append-version="true"></script>
    <script>
        var review = new NailServiceEditController();
        review.initialize();
    </script>
}

<input type="hidden" id="hid-category-id" value="0" />
<div class="">
    <div class="row">
        <div class="col-md-6">
            <h3>
                Service
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a href="/Admin/nailservice">Back</a>
                </small>
            </h3>
        </div>
        <div class="col-md-6 text-right">

        </div>
    </div>

    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-lg-9">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <input type="hidden" id="hidIdM" asp-for="Id" />
                            <input type="hidden" id="hidEmployees" asp-for="Employees" />
                            <label for="txtNameM" class="col-sm-2 control-label no-padding-right">Name</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtNameM" asp-for="Name" class="form-control" id="txtNameM">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Time" class="col-sm-2 control-label no-padding-right"></label>
                            <div class="col-sm-10">
                                <input type="text" name="Time" asp-for="Time" class="form-control" id="txtTime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="SalePrice" class="col-sm-2 control-label no-padding-right">Sale Price</label>
                            <div class="col-sm-10">
                                <input type="text" name="Time" asp-for="SalePrice" class="form-control" id="txtSalePrice">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="NotePrice" class="col-sm-2 control-label no-padding-right">Note Price</label>
                            <div class="col-sm-10">
                                <input type="text" name="Time" asp-for="NotePrice" class="form-control" id="txtNotePrice">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtDateStarted" class="col-sm-2 control-label no-padding-right">Date Started</label>
                            <div class="col-sm-4">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" readonly asp-for="StartDate" id="txtStartDate" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <label for="txtDateExpired" class="col-sm-2 control-label no-padding-right">Date Expired</label>
                            <div class="col-sm-4">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="hidden" id="hidExpriredDate" asp-for="ExpriredDate" />
                                    <input type="text" asp-for="ExpriredDate" readonly id="txtExpriredDate" class="form-control">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="NailStoreId" class="col-sm-2 control-label no-padding-right">Store</label>
                            <div class="col-sm-4">
                                <select asp-for="NailStoreId" id="slNailStoreId" asp-items="@(new SelectList(ViewBag.NailStore,"Id","Name"))">
                                </select>
                            </div>

                            <label asp-for="NailCategoryId" class="col-sm-2 control-label no-padding-right">Category</label>
                            <div class="col-sm-4">
                                <select asp-for="NailCategoryId" id="slNailCategoryId" asp-items="@(new SelectList(ViewBag.NailCategory,"Id","Name"))">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="slEmployees" class="col-sm-2 control-label no-padding-right">Employee</label>
                            <div class="col-sm-10">

                                <select asp-for="Employees" multiple asp-items="@(new SelectList(ViewBag.Employee,"Id","Name"))" id="slEmployees">
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="txtDescription" class="col-sm-2 control-label no-padding-right">Description</label>
                            <div class="col-sm-10">
                                <textarea name="txtDescription" asp-for="Description" class="form-control" id="txtDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Pictures" class="col-sm-2 control-label no-padding-right"></label>
                            <div class="col-sm-6">
                                @*<input type="text" name="txtImage" readonly class="form-control" id="txtImage" />*@
                                <input type="file" id="fileInputImage" multiple style="display:none" />
                                <button type="button" id="btnSelectImg" class="btn btn-sm btn-primary">Attach file</button>
                                <div>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.Images)
                                        {
                                            <span class="product-image-edit">
                                                <img style="width: 100px; height: 100px" src="@item">
                                                <button type="button" data-id="@Model.Id" data-picture="@item" class="btn btn-link btn-deleteFile" aria-label="Remove">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </button>
                                            </span>
                                        }
                                    }
                                </div>
                                <div id="preview">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" asp-for="IsActive" id="ckStatusM">
                                        <span class="text">Active.</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" asp-for="IsShowHomePage" id="ckShowHome">
                                        <span class="text">Show home page</span>
                                    </label>

                                    <label>
                                        <input type="checkbox" asp-for="IsShowMenu" id="ckShowMenu">
                                        <span class="text">Show menu</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2"></div>
                            <div class="col-sm-10">
                                <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

